

#svgbkg {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-size: 80%;
    background-position: 50% 50%;
    background-repeat: repeat;
    background-image: url(../../Styles/SVG/Backgrounds/paw1.svg); 
    @media screen and (max-width: 600px) {
        background-size: 33%;
        .logo3  {
            height: 25%;
            width: 25%;
        }
      }
}


