

#svgbkg {
    display: flex;
    height: 100%;
    width: 100%;
    background-size: 90%;
    background-position: 50% 50%;
    background-repeat: repeat;
    background-image: url(../../Styles/SVG/Backgrounds/paw1.svg); 
    flex-wrap: wrap;
    // text-align-last: center;
    @media screen and (max-width: 600px) {
        background-image: url(../../Styles/SVG/Backgrounds/heart1.svg); 
        background-size: 60%;
        display: unset;
      }
      @media only screen and (min-width: 601px) and (max-width:1079px){
        background-image: url(../../Styles/SVG/Backgrounds/rabbit1.svg); 
        background-size: 100%;
        display: unset;
     }
      @media screen and (min-width: 1080px) {
        background-image: url(../../Styles/SVG/Backgrounds/paw1.svg); 
        background-size: 55%;
        display: unset;
      }
}
.SVGHolder {
    @media screen and (max-width: 600px){
        justify-content: center;
}

}
.landingIconHolder{
    width: 50vw;
    @media screen and (max-width: 600px){
        height: 50%;
        width: auto;
       justify-self: center;
    }
}
.largeLogoHolder{
    display: inline;
    @media screen and (max-width: 800px){
       display: none
    }
}
.mediumLogoHolder{
    display: none;
    @media only screen and (min-width: 551px) and (max-width:799px){
        display: block;
     }
}
.smallLogoHolder{
    display: none;
    @media only screen and (min-width: 375px) and (max-width:550px){
        display: block;
    }
}
.tinyLogoHolder{
    display: none;
    @media only screen and (min-width: 100px) and (max-width:374px){
        display: block;
    }
}





.spacer1{
    width: 15vw;
}

